<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>沐码小站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      .username {
        color: #FFA710;
      }
    </style>
  </head>

  <body>
  {% if mail_type == NOTIFY["LOGIN_GITHUB"] %}
  <div>
    <span class="username">{{ username }}</span> 通过github登录了博客。
  </div>
  {% elif mail_type == NOTIFY["LOGIN_QQ"] %}
  <div>
    <span class="username">{{ username }}</span> 通过QQ登录了博客。
  </div>
  {% elif mail_type == NOTIFY["COMMENT"] %}
  <div>
    <span class="username">{{ username }}</span> 评论了文章<a href="{{ url }}">《{{ post_title }}》</a>: {{ content }}
  </div>
  {% elif mail_type == NOTIFY["LIKE"] %}
  <div>
    <span class="username">{{ user.username }}</span>赞了文章<a href="{{ url }}">《{{ post_title }}》</a>。
  </div>
  {% elif mail_type == NOTIFY["COMMENT_REPLY"] %}
  <div>
    <span class="username">{{ username }}</span> 回复了您在文章<a href="{{ url }}">《{{ post_title }}》</a>的评论：<a href="{{ url }}">查看回复</a>
  </div>
  {% elif mail_type == NOTIFY["MESSAGE"] %}
  <div>
    <span class="username">{{ username }}</span>在留言板留言：{{ content }}<a href="{{ url }}">查看留言</a>
  </div>
  {% elif mail_type == NOTIFY["MESSAGE_REPLY"] %}
  <div>
    <span class="username">{{ username }}</span>回复了您的留言：<a href= {{ url }}>查看留言回复</a>
  </div>
  {% elif mail_type == 8 %}
  {% endif %}
  <div style="margin-top: 20px">
    欢迎访问我的个人小站：<a href="https://wintc.top">沐码小站</a>
  </div>
  </body>
</html>

